.icon {
    font-size: 30px;
}

// TODO: adding height to the parent container and just using flex is the way to go: need to fix home.component styling 
// and other components where the height is constantly cascaded (bad practice)
.main-container {
    .column {
        display: flex; 
        flex-direction: column;
        align-items: center;
    }
    height: 100%;
    display: flex; 
    flex-direction: column;
    .nonprofit-toolbar {
        display: flex;
        flex-direction: row;
        flex: 0.15;
        background-color: teal;
        justify-content: center;
        .title-box {
            // nested flexbox to align title text properly in center
            display: flex;
            flex: 0.15 0.25 auto;
            background-color: silver;
            margin: 1%;
            border-radius: 15px;
            align-items: center;
            justify-content: center;
            font-size: 25px;
        }
        .links-box {
            display: flex;
            flex-direction: row;
            flex: 0.15 0.2 auto;
            background-color: silver;
            margin: 1%;
            border-radius: 15px;
            align-items: center;
            justify-content: center;
            .links-btn {
                font-size: 15px;
                flex: 0.5;
            }
        }
        .donate-box {
            display: flex;
            flex-direction: column;
            flex: 0.05;
            background-color: white;
            margin: 1%;
            border-radius: 15px;
            align-items: center;
            justify-content: center;
            font-size: 15px;
        }
        .toggle-box {
            display: flex;
            flex: 0.1;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            margin-right: 1%;
        }
    }

    // wrapper for angular sidenav container overall
    .sidenav-container {
        flex: 1;
        background-color: peachpuff;

        // container for sidebar contents (ratings, etc.)
        .sidebar-container {
            flex: 1;
            background-color: silver;
            .card-container {
                height: 100%;
                width: 100%;
                margin-left: 2%;
                margin-right: 2%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                .rating-card {
                    flex: 0.2;
                    .rating-title {
                        font-size: 35px;
                        text-align: center;
                    }
                    .rating-value {
                        font-size: 30px;
                        text-align: center;
                    }
                }
                .mission-card{
                    flex: 0.2;
                }
                .efficiency-card{
                    flex: 0.2;
                }
                .compensation-card{
                    flex: 0.2;
                }
            }
        }

        // angular material wrapper for sidenav main content
        .sidenav-content-container {
            flex: 1;
            // container for the "main content" of nonprofit page
            .nonprofit-container {
                flex: 1;
                margin: 2%;
                height: 100%;
                background-color: silver;
                border-radius: 15px;
            }
        }
    }
}