@import '../../../styles/variables';


.title {
    text-align: center;
}

.main-container {
    height: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    .progress-container {
        flex: 0.4;
        background-color: $primary-2;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 20px;
    }
    
    .other-stats-container {
        flex: 0.5;
        background-color: $primary-2;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 20px;
    }
}