<div class="main-container">
    <div class="whoAreWe">
        <h2>Who are we?</h2>
        <div class=member id=andrew>
            <a href="https://capstone-csce.uark.edu/fall-spring-2020-2021/teams-6-10-f20/team-9-altrusight/andrew-he/"
                class="memberName" target="_blank">Andrew He</a>
            <p class="memberBio">Senior Computer Science major at the University of Arkansas</p>
        </div>
        <div class=member id=ben>
            <a href="https://capstone-csce.uark.edu/fall-spring-2020-2021/teams-6-10-f20/team-9-altrusight/ben-guthrie/"
                class="memberName" target="_blank">Ben Guthrie</a>
            <p class="memberBio">Senior Computer Engineering major at the University of Arkansas</p>
        </div>
        <div class=member id=rafael>
            <a href="https://capstone-csce.uark.edu/fall-spring-2020-2021/teams-6-10-f20/team-9-altrusight/rafael-toche-pizano/"
                class="memberName" target="_blank">Rafael Toche Pizano</a>
            <p class="memberBio">Senior Computer Science major at the University of Arkansas</p>
        </div>
        <div class=member id=seth>
            <a href="https://capstone-csce.uark.edu/fall-spring-2020-2021/teams-6-10-f20/team-9-altrusight/seth-piepergerdes/"
                class="memberName" target="_blank">Seth Piepergerdes</a>
            <p class="memberBio">Senior Computer Science major at the University of Arkansas</p>
        </div>
        <div class=member id=tanner>
            <a href="https://capstone-csce.uark.edu/fall-spring-2020-2021/teams-6-10-f20/team-9-altrusight/tanner-edwards/"
                class="memberName" target="_blank">Tanner Edwards</a>
            <p class="memberBio">Senior Computer Science major at the University of Arkansas</p>
        </div>
    </div> 

    <div class="ourMission">
        <h2>Our Mission</h2>
        <p class="missionMessage">AltruSight’s goal is to implement a proof-of concept
             website to serve as a beacon of transparency when it
             comes to donating money to nonprofits. There are several 
             main goals for our project. First, we want to provide a 
             centralized system where donors can track how their 
             donations are being used. We also wish to add a social 
             aspect of donation in the form of a Venmo-esque payment 
             feed, as well as the ability to favorite, share, like, 
             etc. for any nonprofit supported on the website. We also
             wish to ultimately provide a comprehensive analytics 
             platform detailing how each nonprofit spends their money, 
             as well as details on an individual level detailing personal 
             goals and donations. </p>
             
        <p class="missionMessage">Ultimately, our objective is to create 
             a system that makes it easier to hold nonprofits accountable 
             and makes it easier for donors to see how their donations are 
             being put to use, as well as providing relevant information 
             on the legitimacy of nonprofits supported on the website. We 
             want to be a central hub of information for all things 
             nonprofit.</p>
    </div>
    <div class="whyAltrusight">
        <h2>Why Altrusight?</h2>
        <p class="whyMessage">Our
            objective is to create a proof-of-concept website that pulls information on multiple non-profits
            with the help of an API. These non-profits will be displayed on our web-application and they
            will be separated into two categories, verified and not verified. Non-verified non-profits will
            simply have their information displayed on the web-application, however, they will not be
            considered ‘legitimate’. Theoretically, in order for a non-profit to be labeled as verified, a
            non-profit representative would have to request for the non-profit to be registered as legitimate.
            Ideally, the government would then run a rigorous background check on the non-profit in order
            to ensure its legitimacy, and if this is proven to be true, the non-profit would then be labeled as
            ‘verified’. The web-application would then let users donate to ‘verified’ non-profits and the
            non-profit representative would have more control as to the type of information that the
            non-profit posts on their site.
            </p>
            <p class="whyMessage">This would provide donors with a centralized system that they can use for transparency, as well
                as for analytics. Creating a centralized system for nonprofits would make it easier for donors to
                choose the right nonprofit to donate to as the amount of research they would have to conduct
                would be reduced. The website could also have social media like functionality in that users can
                comment, share, and like nonprofit organizations that appeal to them the most. This would
                provide a layer of transparency as users would have one place where they can comment on the
                nonprofits’ use of funds and whether the nonprofit is staying true to its mission. This website
                could also provide users with analytics such as providing reports or graphs that help visualize
                how a nonprofit is distributing its funds.
            </p>
            <p class="whyMessage">Since the goal of this website would be to provide more transparency about how nonprofits
                spend their funds, our website would provide information such as who is giving to nonprofits and
                potentially how much (showing how much a user donated could be an option that the user
                controls). Doing so would reduce illegal behavior and make money laundering more difficult as
                a centralized system for nonprofits would make it easier to track the donations going into a
                nonprofit.
            </p>
            <p class="whyMessage">Ultimately, our objective is to create a system that makes it easier to hold nonprofits accountable
                and makes it easier for donors to see how their donations are being put to use. In theory, all
                nonprofits would have to register to our system as it would be government regulated, and
                nonprofits would have to undergo a rigorous background check before being registered to our
                website. This would provide donors with a sense of security as no fraudulent organizations
                would be registered to our website and every nonprofit would follow a general format for
                providing useful information such as ending bank balances, balance sheets, or a generalization of
                how money is to be spent.
            </p>
            <p class="whyMessage">Layered on top of our goal to provide donor transparency and analytics into non-profit usage of
                donations is also the functionality to make the act of donation a public and shareable event.
                Humans, at our core, are social creatures, so other human beings tend to have an influence on our
                personal decisions. We want to leverage this into a live feed of public donations, complete with
                customized captions for the donations, which will bring a new level of information to a donor’s
                fingertips, as well as ideally encouraging people to donate more. We also want to provide the
                ability to integrate personal goals and analytics for an individual’s personal donations, similar to
                the functionality of many budgeting/spending tracker applications.
            </p>
    </div>
    <div class="proposal">
        <h2><a href="https://cpb-us-e1.wpmucdn.com/wordpressua.uark.edu/dist/d/609/files/2019/04/Capstone-I-Final-Proposal.pdf"
            target="_blank">
        Check out our project proposal!</a></h2>
    </div>

    <div class="footer">
        <button class="signUp" (click)="navigateTo('register')">Sign Up</button>
    </div>
</div>