@import '../../../styles/variables';

.title {
    text-align: center;
}
.main-container {
    height: 100%;
    display: flex; 
    flex-direction: column;
    background-color: $primary-2;
    color: $primary-off-black;
    .settings {
        width:85%;
        margin:auto;
        .subtitle{
            text-align:center;
        }
        .settingsButton {
            background:none;
            border:none;
        }
        #logoutButton:hover {
            color:$accent-4;
        }
        #logoutButton {
            font-weight:600;
        }
    }
    .profilePic-container {
        text-align:center;
        padding:10px;
        .profilePic {
            border-radius:50%;
            width:100px;
            height:100px;
        }
    }
    .donation-history {
        display: flex; 
        flex-direction: column;
        align-items: center;
        flex: 1 1 500px;
        border-radius: 20px;

        .donationHistoryCards {
            margin-top: 2px;
            width: 85%;
            background-color: $primary-off-white;
            opacity: 0.95;
            justify-content: center;
            color: $primary-off-black;
            .mat-card-header {
                margin: 0;
                .mat-card-title {
                    margin: 0;
                }
            }
            .paymentFeedTitleNonprofitName {
                cursor: pointer;
            }
            .paymentFeedTitleNonprofitName:hover {
                color: $accent-2;
            }
            .paymentFeedCardDescription {
                opacity: 0.9;
                margin: 0px 0px 0px 18px;
            }
        }
    }
}