@import '../../../styles/variables';

.title {
    text-align: center;
}

.main-container {
    height: 100%;
    display: flex; 
    flex-direction: column;
    background-color: $primary-2;
    .row {
        display: flex;
        flex-direction: row;
        flex: 1 1 500px; 
        .col1 {
            display: flex; 
            flex-direction: column; 
            flex: 1 1 0; 
            background-color: $accent-1;
            margin: 0 10px 0 10px;
            text-align: center;
            .account-settings {
                background-color:white;
                text-align:left;
                width:85%;
                margin-left: auto;
                margin-right: auto;
                div:hover {
                    background-color:lightgray;
                }
                div {
                    border-width:1px;
                    border-color:gray;
                    border-style: none none solid none;
                }
            }
        }
        .col2 {
            display: flex; 
            flex-direction: column; 
            flex: 1 1 0; 
            background-color: $accent-2;
            margin: 0 10px 0 10px;
            text-align: center;
            .donation-history {
                display: flex; 
                flex-direction: column;
                align-items: center;
                overflow: scroll;
                flex: 1 1 500px;
                border-radius: 20px;
                text-align: left;
                .donationHistoryCards{
                    margin-top: 2px;
                    width: 85%;
                    background-color: $primary-off-white;
                    opacity: 0.95;
                    justify-content: center;
                }
            }

        }
    }
}