h1 {
    text-align: center;
}
.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: grey;
}
.nav-bar {
    flex: 0.1;
    background-color: blue;
}
.content-scroll-container {
    height: 90vh;
    display: flex;
    flex: 0.9;
    flex-direction: column;
    background-color: green;
}