<div class="main-container">
  <!--TOOLBAR / NAV BAR HERE-->
  <div class="nav-bar">
    <div *ngIf="this.authService.getIsLoggedIn()">
      <button (click)="this.authService.logout()">Logout</button>
    </div>
    <div *ngIf="!this.authService.getIsLoggedIn()">
      <button (click)="navigateTo('login')">Login</button>
      <button (click)="navigateTo('register')">Register</button>
    </div>
  </div>

  <!--ROUTER OUTLET-->
  <!--Make this scroll so nav bar always stays static at top-->
  <div class="content-scroll-container">
    <router-outlet></router-outlet>
  </div>
</div>
