<!--TODO: Make toolbar headers not shrink too much-->
<div class="main-container">
  <!--TOOLBAR / NAV BAR HERE-->
  <div class="nav-bar">
    <mat-toolbar color="primary" class="nav-toolbar">
      <mat-toolbar-row class="top-toolbar-row">
        <h2>Altrusight</h2>
        <span class="spacer"></span>
        <div class="centered-content">
          <mat-form-field class="search-bar" color="primary" appearance="outline">
            <mat-label>Search Nonprofits</mat-label>
            <input matInput placeholder="Search">
            <mat-icon matPrefix>search</mat-icon>
          </mat-form-field>
          <button mat-button class="account-button" [mat-menu-trigger-for]="accountMenu">
            <mat-icon class="icon">admin_panel_settings</mat-icon>
          </button>
          <mat-menu #accountMenu="matMenu">
            <div *ngIf="this.authService.isLoggedIn">
              <button mat-menu-item (click)="navigateTo('profile')">Profile Page</button>
              <button mat-menu-item (click)="navigateTo('friends')">Friends List</button>
              <button mat-menu-item (click)="navigateTo('account-stats')">Account Stats</button>
              <button mat-menu-item (click)="navigateTo('favorite-nonprofits')">Favorited Nonprofits</button>
              <button mat-menu-item (click)="this.authService.logout()">Logout</button>
            </div>
            <div *ngIf="!this.authService.isLoggedIn">
              <button mat-menu-item (click)="navigateTo('login')">Login</button>
              <button mat-menu-item (click)="navigateTo('register')">Register</button>
            </div>
          </mat-menu>
        </div>
      </mat-toolbar-row>
      <mat-toolbar-row class="bottom-toolbar-row">
        <button mat-button class="toolbar-main-button" (click)="navigateTo('')">Home</button>
        <div class="vertical-divider"></div>
        <button mat-button class="toolbar-main-button" [matMenuTriggerFor]="nonprofitMenu">Nonprofits</button>
        <div class="vertical-divider"></div>
        <mat-menu #nonprofitMenu="matMenu">
          <button mat-menu-item (click)="navigateTo('nonprofits')">All Nonprofits</button>
          <button mat-menu-item (click)="navigateTo('favorite-nonprofits')">Your Favorite Nonprofits</button>
        </mat-menu>
        <button class="toolbar-main-button" mat-button>About Us</button>
        <span class="spacer"></span>
        <button *ngIf="this.authService.isLoggedIn" class="toolbar-main-button" (click)="toggleSidebarOpened()" mat-button>
          <mat-icon class="menu-icon">menu</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <!--ROUTER OUTLET-->
  <!--Make this scroll so nav bar always stays static at top-->
  <div class="content-container">
    <div class="content-scroll-container">
      <router-outlet></router-outlet>
    </div>
    <div *ngIf="sidebarOpened && this.authService.isLoggedIn" class="sidebar-content">
      <mat-card class="profile-card">
        <mat-card-header>
            <img (click)="navigateTo('profile')" mat-card-avatar src="{{getProfilePictureURL()}}"/>
            <mat-card-title>{{getUsername()}}</mat-card-title>
            <mat-card-subtitle>
                <button (click)="navigateTo('profile')">Edit Profile</button>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <mat-list dense>
                <div mat-subheader>Your Favorite Nonprofits</div>
                <div class="divider"></div>
                <mat-list-item class="favorite-nonprofit" (click)="navigateToNonprofit(nonprofit)" *ngFor="let nonprofit of getFavoriteNonprofits().slice(0, 4)">
                    {{nonprofit}}
                    <mat-divider color="primary"></mat-divider>
                </mat-list-item>
            </mat-list>
            <mat-card-actions class="more-button-container">
                <button class="more-button" (click)="navigateTo('favorite-nonprofits')" mat-raised-button>More</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>

    <mat-card class="friends-card">
        <mat-card-content class="badge-container">
            <!--TODO: Clicking on each individual badge should take you to friend's profile page-->
            <img *ngFor="let friend of getFriendsUsernames()" mat-card-avatar src="{{getFriendProfilePictureURL(friend)}}">   
        </mat-card-content>
        <mat-card-footer>
            <mat-card-title class="card-title-button-container">
                <button class="card-title-button" (click)="navigateTo('friends')" mat-button>Your Friends</button>
            </mat-card-title>
        </mat-card-footer>
    </mat-card>

    <mat-card class="progress-bar-card">
        <mat-card-content>
            <mat-progress-bar class="progress-bar" mode="determinate" [value]="getProgressPercentage()" (click)="navigateTo('account-stats')"></mat-progress-bar>
            <h5 class="progress-bar-caption">${{getProgress()}} of ${{getGoal()}} donated.</h5>
        </mat-card-content>
        <mat-card-footer>
            <mat-card-title class="card-title-button-container">
                <button class="card-title-button" (click)="navigateTo('account-stats')" mat-button>Your Goal Progress</button>
            </mat-card-title>
        </mat-card-footer>
    </mat-card>

    <mat-card class="account-stats-card">
        <mat-card-title class="card-title-button-container">
            <button class="card-title-button" (click)="navigateTo('account-stats')" mat-button>Other Account Stats</button>
        </mat-card-title>
    </mat-card>
    </div>
  </div>
</div>
