<div class="favorites-container">
    <mat-list class="favorited-list-container">
        <h1 class="title">Your Favorited Nonprofits</h1>
        <mat-list-item *ngFor="let nonprofit of getNonprofits(pageEvent)" (click)="navigateToNonprofit(nonprofit)" class="nonprofit-favorited-item">Nonprofit Name: {{nonprofit}}</mat-list-item>
    </mat-list>
    <mat-paginator class="nonprofit-paginator" [length]="paginatorLength"
                        [pageSize]="pageSize"
                        (page)="pageEvent = $event">
    </mat-paginator>
</div>

