.main-container-login {
    display: flex;
    background-color: orange;
    height: 100%;
    background: url("../../../assets/images/login_background_image.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .login-container {
        border-radius: 0.50rem;
        display: flex;
        background-color: #FBFAF5;
        height: 30rem;
        width: 30rem;
        max-width: 95%;
        max-height: 80%;
        margin: auto;
        opacity: 97%;
        overflow: auto;

        .login-inputs-container {
            width: 90%;
            height: 60%;
            // background-color: green;
            margin: auto;

            .login-title {
                width: 100%;
                // background-color: lightgreen;
            }

            .login-inputs {
                margin-top: 1rem;
                // background-color: purple;
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
            }

            .login-button {
                border-radius: 1rem;
                width: 50%;
                margin-top: 1rem;
            }
            
            .register-with-us {
                margin-top: 1rem;
            }
        }
    }
}

.image-credits-container {
    font-size: 0.80rem;
    color: #FBFAF5;
    bottom: 1.5%;
    left: 1.5%;
    position: absolute;
    //background-color: red;
}

.image-credits {
    text-decoration: underline;
    color: #FBFAF5;
}

mat-form-field {
     width: 100%;
 }

 mat-hint {
     font-size: 0.75rem;
 }

 .forgot-password {
     color: black;
     text-decoration: none;
 }