@import '../../styles/variables';

.divider {
    width: 100%; 
    background-color: silver;
    height: 1px;
}

.main-container {
    display: flex; 
    flex-direction: row;
    min-height: 100%; 
    flex: 1;
    background-color: $primary-2;

    // MAIN CONTENT
    .main-content {
        display: flex; 
        flex-direction: column;
        flex: 1 0 0;
        justify-content: center;
        margin: 1%;
        .altViewNavigation {
            display: flex;
            flex: 0.1 0 20px;
            justify-content: center;
            margin-bottom: 0;
        }
        .alt-view-placeholder {
            display: flex;
            flex-direction: column;
            flex: 1 1 500px;
            background-color: $primary-1;
            border-radius: 20px;
        }
        .payment-feed-container {
            display: flex; 
            flex-direction: column;
            align-items: center;
            overflow: scroll;
            flex: 1 1 500px;
            border-radius: 20px;

            .paymentFeedCards {
                margin-top: 2px;
                width: 85%;
                background-color: $primary-off-white;
                opacity: 0.95;
                justify-content: center;
                .mat-card-header {
                    margin: 0;
                    .mat-card-title {
                        margin: 0;
                    }
                }
                .paymentFeedTitleUsername {
                    color: $primary-off-black;
                }
                .paymentFeedTitleNonprofitName {
                    cursor: pointer;
                    color: $primary-off-black;
                }
                .paymentFeedTitleNonprofitName:hover {
                    color: $accent-2;
                }
                .paymentFeedTitleNotImportant {
                    color: $primary-off-black;
                    opacity: 0.75;
                }
                .paymentFeedCardDescription {
                    color: $primary-off-black;
                    opacity: 0.9;
                    margin: 0px 0px 0px 18px;
                }
                .paymentFeedCardActions {
                    margin: 0px 0px 0px 0px;
                }
            }
        }
    }
    .sidebar-button {    
        flex: 0 0 10px;
        background-color: $accent-2;
    }
    .sidebar-button:hover {
        background-color: $accent-4;
    }

    // SIDEBAR
    .sidebar-content{
        display: flex;
        flex-direction: column;
        min-height: 100%;
        flex: 0.2 0 350px; 
        background-color: $accent-3;
        justify-content: space-around;

        // global styles for sidebar 
        .mat-card {
            margin-left: 1%;
            margin-right: 1%;
        }
        .card-title-button-container {
            text-align: center;
            .card-title-button {
                font-size: 20px;
            }
            .card-title-button:hover {
                background-color: $accent-3; 
                color: #FEFEFA;
            }
        }
        // individual card styles
        .profile-card {
            flex: 0.2 0.25 0;
            .favorite-nonprofit {
                font-size: 15px;
            }
            .favorite-nonprofit:hover {
                background-color: $accent-4;
                color: $accent-1;
            }
            .more-button-container {
                text-align: center;
                .more-button {
                    background-color: $accent-3;
                    color: #FEFEFA;
                }
            }
        }  
        .friends-card {
            flex: 0.15 0.2 0;
            .badge-container {
                display: flex; 
                justify-content: space-around;
            }

        }  
        .progress-bar-card {
            flex: 0.15 0.2 0;
            .progress-bar {
                height: 12px;
            }
            .progress-bar-caption {
                font-style: italic;
            }
        }  
        .account-stats-card {
            flex: 0.15 0.2 0;
        }  
    }
}
