@import '../../styles/variables';


.title {
    color: $primary-off-white;
    font-weight: bold;
    text-align: center;
}

.loading-screen {
    display: flex;
    width: 100%;
    height: 100%;
    .loading-spinner {
        display: flex;;
        margin: auto;
    }
}


.nonprofits-container {
    height: 100%;
    display: flex; 
    flex-direction: column;
    background-color: $accent-3;
    margin: 0 5% 0 5%;
    .nonprofit-list-container {
        display: flex;
        flex-direction: column;
        flex: 1 1 500px;
        .nonprofit-list-item:hover {
            background-color: $accent-4;
            cursor: pointer;
        }
        .nonprofit-list-item {
            color: $primary-off-white;
            font-size: 20px;
            line-height: 20px;
            flex: 1 1 50px;
        }
    }
    .nonprofit-paginator {
        background-color: $accent-4;
    }
}